<section class="section">
  <article class="media">
    <div class="media-content">
      <div class="content has-text-centered">
        <p>
          <strong class="is-size-1" style="font-family: cursive; color: red;">レシピを人に伝えましょう！</strong>
        </p>
      </div>
      <div class="columns is-centered">
        <div class="column is-8">
         <br>
          料理初心者の私にも分かりやすいレシピを教えてください。<br>
          レシピを探しているんですが、美味しい料理の作り方を教えていただけますか？<br>
          家族が野菜嫌いなので、野菜を美味しく食べられるレシピを教えてください。何かアイデアはありますか？<br>
          ヘルシーなレシピに挑戦しているんですが、おすすめの低カロリースイーツのレシピを教えてください。<br>
          新しいレシピを試してみたんですが、予想以上に美味しかったです！友達にも教えたいと思っています。<br>
          レシピを共有する旅の中で、レシピ好きの人達と出会いましょう！乾杯しましょう！
        </div>
      </div>
    </div>
  </article>
  <br>
  <div class="columns is-centered">
    <div class="column">
      <figure>
        <div class="main-image"></div>
      </figure>
    </div>
  </div>
  <div class="columns is-centered">
    <div class="column is-8">
      仕事のストレスで疲れきった日、自宅でゆっくりと美味しい自家製料理を作って、日々の疲れを忘れさせてくれました。<br>
      料理を通じてリラックスする時間は私にとって貴重な癒しのひとときです。<br>
      日々の忙しい生活やストレスフルな仕事の中で、美味しい食べ物はまさに癒しです。<br>
      人生をより簡単に、より幸せにしましょう！！！<br>
    </div>
  </div>
</section>