<div class = "container">
  <p>
    <strong>特色:</strong>
    <%= @label.name %>
  </p>

  <%= link_to '編集', edit_label_path(@label) %> |
  <%= link_to '戻る', labels_path %> |
  <%= link_to 'レシピの編集画面へ', edit_cook_path(@cook) %>
</div>