/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

html {
  font-size: 20px;
  min-height: 100%;
  position: relative;
  // background-color: bisque;
}

.header {
  height: 70px;
  width: 100%;
  font-family: Georgia;
  background-color: rgb(127, 232, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.media {
  margin: 0px;
}
.content {
  margin-bottom: 0;
}

.label_field {
  display: flex;
  flex-wrap: wrap;
}

.label_field p {
  margin-right: 10px;
  font-size: 15px;
}

.nav-link:not(:last-child) {
  margin-right: 15px;
}

h1 {
  text-align: center;
}

.profile_image {
  border-radius: 50%;
}

.main-image {
  height: 940px;
  background-image: url(mean.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  // background-size: cover;
  // background-position: center;
}

.footer {
  height: 60px;
  width: 100%;
  background-color: darkgray;
  bottom: 0px;
  padding: 0px;
  left: 0px;
  display: table;
  position: absolute;
}

.footer p {
  font-size: 1rem;
  color: white;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
